In [1]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
import warnings
import time
import os

In [2]:
warnings.filterwarnings('ignore')

In [3]:
# base_url = 'https://en.zalando.de'
def get_url(url=''):
    if base_url not in url:
        url = f"{base_url}{url}"
    return BeautifulSoup(requests.get(
        url,
        verify=False,
        timeout=5,
        headers = {
            'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
            'Accept-Language': 'en-US,en;q=0.9',
            'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36',
        }
    ).content, 'html.parser')

# Zalando

In [4]:
# home = get_url('/women-home/')

In [5]:
# soup = BeautifulSoup(home.content, 'html.parser')

In [6]:
# main_links = {}

# for li in soup.find_all('nav')[2].find_all('li'):
#     main_links[li.get('aria-label')] = li.a.get('href')

In [7]:
# main_links

In [8]:
# cats = ['Clothing', 'Shoes', 'Sports', 'Accessories']

In [9]:
# c = cats[0]

# HnM

In [42]:
base_url = 'https://www2.hm.com'
filename_format = '../data/HnM_{}.parquet'
img_filename = '../images/HnM_{}{}'

### Getting categories for Women

In [11]:
top_cat = 'Women'

In [12]:
main = get_url('/de_de/damen.html')

In [13]:
cur_idx = 0

In [14]:
# lists to store all categories and sub-categories
names = []
urls = []
parents = []
main_cats = []

for li in main.find_all('nav')[2].find_all('ul')[0].find_all('ul')[3].find_all('li'):
    li_name = li.a.get_text()[4:].strip()
    if 'Alles zeigen' in li_name:
        continue
    names.append(li_name)
    urls.append(li.a.get('href'))
    parents.append(None)
    main_cats.append(cur_idx)
    cur_idx += 1

Getting sub-categories

In [15]:
# lists to store all filter names and values
# filters are extracted at parent category level
filter_names = []
filter_options = []
filter_parents = []

get_filter_options = lambda x: (x.find('span', attrs={'class': 'text'}).text, f"{x.find('input').get('data-name')}={x.find('input').get('value')}")

for i, c in enumerate(main_cats):
    cat_html = get_url(urls[i])
    
    for li in cat_html.find_all('nav')[2].find_all('ul')[4].find_all('li'):
        if li.a.get('href') == urls[i]:
            for sub_li in li.ul.find_all('li'):
                li_name = sub_li.a.get_text()[4:].strip()
                if 'Alles zeigen' in li_name:
                    continue
                names.append(li_name)
                urls.append(sub_li.a.get('href'))
                parents.append(i)
                
    # getting all filters
    filters_ = cat_html.find_all('div', attrs={'class':'filter-levels'})[0].ul.contents

    for f in filters_:
        if f != '\n':
            options = list(map(get_filter_options, f.ul.find_all('li')))
            filter_options.extend(options)
            filter_names.extend([f.find(attrs={'class':'filter-name'}).text.strip()]*len(options))
            filter_parents.extend([c]*len(options))

Creating dataframe of categories and sub-categories

In [16]:
if os.path.exists(filename_format.format('Categories')):
    cats = pd.read_parquet(filename_format.format('Categories'))
else:
    cats = pd.DataFrame(columns=['Category', 'URL', 'Parent_Category', 'Top_Category', 'Skip'])
    
cats = pd.concat([cats, pd.DataFrame({
    'Category': names,
    'URL': urls,
    'Parent_Category': parents,
    'Top_Category': [top_cat]*len(names),
    'Skip': [False]*len(names), # to allow skipping later
})])

In [17]:
cats.head()

,Category,URL,Parent_Category,Top_Category,Skip
0,Shirts & Tops,/de_de/damen/produkte/tops.html,NaN,Women,False
1,Basics,/de_de/damen/produkte/basics.html,NaN,Women,False
2,Hemden & Blusen,/de_de/damen/produkte/hemden-blusen.html,NaN,Women,False
3,Cardigans & Pullover,/de_de/damen/produkte/cardigans-pullover.html,NaN,Women,False
4,Strickwaren,/de_de/damen/produkte/strickwaren.html,NaN,Women,False

In [18]:
cats.shape

(225, 5)

### Getting categories for Men

In [19]:
top_cat = 'Men'

In [20]:
main = get_url('/de_de/herren.html')

In [21]:
cur_idx = cats.index[-1]+1

In [22]:
# lists to store all categories and sub-categories
names = []
urls = []
parents = []
main_cats = []

for li in main.find_all('nav')[2].find_all('ul')[0].find_all('ul')[3].find_all('li'):
    li_name = li.a.get_text()[4:].strip()
    if 'Alles zeigen' in li_name:
        continue
    names.append(li_name)
    urls.append(li.a.get('href'))
    parents.append(None)
    main_cats.append(cur_idx)
    cur_idx += 1

Getting sub-categories

In [23]:
# lists to store all filter names and values
# filters are extracted at parent category level
get_filter_options = lambda x: (x.find('span', attrs={'class': 'text'}).text, f"{x.find('input').get('data-name')}={x.find('input').get('value')}")

for i, c in enumerate(main_cats):
    cat_html = get_url(urls[i])
    
    for li in cat_html.find_all('nav')[2].find_all('ul')[4].find_all('li'):
        if li.a.get('href') == urls[i]:
            for sub_li in li.ul.find_all('li'):
                li_name = sub_li.a.get_text()[4:].strip()
                if 'Alles zeigen' in li_name:
                    continue
                names.append(li_name)
                urls.append(sub_li.a.get('href'))
                parents.append(c)
                
    # getting all filters
    filters_ = cat_html.find_all('div', attrs={'class':'filter-levels'})[0].ul.contents

    for f in filters_:
        if f != '\n':
            options = list(map(get_filter_options, f.ul.find_all('li')))
            filter_options.extend(options)
            filter_names.extend([f.find(attrs={'class':'filter-name'}).text.strip()]*len(options))
            filter_parents.extend([c]*len(options))

Updating dataframe of categories and sub-categories

In [24]:
cats = pd.concat([cats, pd.DataFrame({
    'Category': names,
    'URL': urls,
    'Parent_Category': parents,
    'Top_Category': [top_cat]*len(names),
    'Skip': [False]*len(names), # to allow skipping later
})]).reset_index().drop(columns='index')

In [25]:
cats.head()

,Category,URL,Parent_Category,Top_Category,Skip
0,Shirts & Tops,/de_de/damen/produkte/tops.html,NaN,Women,False
1,Basics,/de_de/damen/produkte/basics.html,NaN,Women,False
2,Hemden & Blusen,/de_de/damen/produkte/hemden-blusen.html,NaN,Women,False
3,Cardigans & Pullover,/de_de/damen/produkte/cardigans-pullover.html,NaN,Women,False
4,Strickwaren,/de_de/damen/produkte/strickwaren.html,NaN,Women,False

In [26]:
cats.shape

(337, 5)

### Getting categories for Baby

In [27]:
top_cat = 'Baby'

In [28]:
main = get_url('/de_de/baby.html')

In [29]:
cur_idx = cats.index[-1]+1

In [30]:
# lists to store all categories and sub-categories
names = []
urls = []
parents = []
main_cats = []

for li in main.find_all('nav')[2].find_all('ul')[0].find_all('ul')[3].find_all('li'):
    li_name = li.a.get_text()[4:].strip()
    if 'Alles zeigen' in li_name:
        continue
    names.append(li_name)
    urls.append(li.a.get('href'))
    parents.append(None)
    main_cats.append(cur_idx)
    cur_idx += 1

Getting sub-categories

In [31]:
# lists to store all filter names and values
# filters are extracted at parent category level
get_filter_options = lambda x: (x.find('span', attrs={'class': 'text'}).text, f"{x.find('input').get('data-name')}={x.find('input').get('value')}")

for i, c in enumerate(main_cats):
    cat_html = get_url(urls[i])
    
    for li in cat_html.find_all('nav')[2].find_all('ul')[4].find_all('li'):
        if li.a.get('href') == urls[i]:
            for sub_li in li.ul.find_all('li'):
                li_name = sub_li.a.get_text()[4:].strip()
                if 'Alles zeigen' in li_name:
                    continue
                names.append(li_name)
                urls.append(sub_li.a.get('href'))
                parents.append(c)
                
    # getting all filters
    filters_ = cat_html.find_all('div', attrs={'class':'filter-levels'})[0].ul.contents

    for f in filters_:
        if f != '\n':
            options = list(map(get_filter_options, f.ul.find_all('li')))
            filter_options.extend(options)
            filter_names.extend([f.find(attrs={'class':'filter-name'}).text.strip()]*len(options))
            filter_parents.extend([c]*len(options))

Updating dataframe of categories and sub-categories

In [32]:
cats = pd.concat([cats, pd.DataFrame({
    'Category': names,
    'URL': urls,
    'Parent_Category': parents,
    'Top_Category': [top_cat]*len(names),
    'Skip': [False]*len(names), # to allow skipping later
})]).reset_index().drop(columns='index')

In [33]:
cats.head()

,Category,URL,Parent_Category,Top_Category,Skip
0,Shirts & Tops,/de_de/damen/produkte/tops.html,NaN,Women,False
1,Basics,/de_de/damen/produkte/basics.html,NaN,Women,False
2,Hemden & Blusen,/de_de/damen/produkte/hemden-blusen.html,NaN,Women,False
3,Cardigans & Pullover,/de_de/damen/produkte/cardigans-pullover.html,NaN,Women,False
4,Strickwaren,/de_de/damen/produkte/strickwaren.html,NaN,Women,False

In [34]:
cats.shape

(365, 5)

### Getting categories for Kids

In [35]:
top_cat = 'Kids'

In [36]:
main = get_url('/de_de/kinder.html')

In [37]:
cur_idx = cats.index[-1]+1

In [38]:
# lists to store all categories and sub-categories
names = []
urls = []
parents = []
main_cats = []

for li in main.find_all('nav')[2].find_all('ul')[0].find_all('ul')[3].find_all('li'):
    li_name = li.a.get_text()[4:].strip()
    if 'Alles zeigen' in li_name:
        continue
    names.append(li_name)
    urls.append(li.a.get('href'))
    parents.append(None)
    main_cats.append(cur_idx)
    cur_idx += 1

Getting sub-categories

In [39]:
# lists to store all filter names and values
# filters are extracted at parent category level
get_filter_options = lambda x: (x.find('span', attrs={'class': 'text'}).text, f"{x.find('input').get('data-name')}={x.find('input').get('value')}")

for i, c in enumerate(main_cats):
    cat_html = get_url(urls[i])
    
    for li in cat_html.find_all('nav')[2].find_all('ul')[4].find_all('li'):
        if li.a.get('href') == urls[i]:
            for sub_li in li.ul.find_all('li'):
                li_name = sub_li.a.get_text()[4:].strip()
                if 'Alles zeigen' in li_name:
                    continue
                names.append(li_name)
                urls.append(sub_li.a.get('href'))
                parents.append(c)
                
    # getting all filters
    filters_ = cat_html.find_all('div', attrs={'class':'filter-levels'})[0].ul.contents

    for f in filters_:
        if f != '\n':
            options = list(map(get_filter_options, f.ul.find_all('li')))
            filter_options.extend(options)
            filter_names.extend([f.find(attrs={'class':'filter-name'}).text.strip()]*len(options))
            filter_parents.extend([c]*len(options))

Updating dataframe of categories and sub-categories

In [40]:
cats = pd.concat([cats, pd.DataFrame({
    'Category': names,
    'URL': urls,
    'Parent_Category': parents,
    'Top_Category': [top_cat]*len(names),
    'Skip': [False]*len(names), # to allow skipping later
})]).reset_index().drop(columns='index')

In [41]:
cats.head()

,Category,URL,Parent_Category,Top_Category,Skip
0,Shirts & Tops,/de_de/damen/produkte/tops.html,NaN,Women,False
1,Basics,/de_de/damen/produkte/basics.html,NaN,Women,False
2,Hemden & Blusen,/de_de/damen/produkte/hemden-blusen.html,NaN,Women,False
3,Cardigans & Pullover,/de_de/damen/produkte/cardigans-pullover.html,NaN,Women,False
4,Strickwaren,/de_de/damen/produkte/strickwaren.html,NaN,Women,False

In [42]:
cats.shape

(407, 5)

### Removing categories which we dont want

In [43]:
cats.groupby('Top_Category').count()

              Category  URL  Parent_Category  Skip
Top_Category
Baby                28   28               21    28
Kids                42   42               34    42
Men                112  112               91   112
Women              225  225              196   225

In [44]:
cats[cats['Parent_Category'].isna()]['Category'].unique()

array(['Shirts & Tops', 'Basics', 'Hemden & Blusen',
       'Cardigans & Pullover', 'Strickwaren', 'Blazer', 'Jacken & Mäntel',
       'Hosen', 'Jeans', 'Shorts', 'Röcke', 'Kleider',
       'Jumpsuits & Playsuits', 'Schuhe', 'Accessoires', 'Bademode',
       'Unterwäsche', 'Loungewear', 'Nachtwäsche',
       'Socken & Strumpfhosen', 'Sportbekleidung', 'Umstandsmode',
       'Große Größen', 'Beauty', 'Hundebekleidung und -Accessoires',
       'Hoodies & Sweatshirts', 'Pflegeprodukte', 'Petite-Kleidung',
       'Premium Selection', 'Strickkleidung', 'Hemden', 'T-Shirts',
       'Socken', 'Blazer & Anzüge', 'Sportmode', 'Alle anzeigen',
       'Neuheiten', 'Kleidung', 'Outdoor', 'Kostüme'], dtype=object)

In [45]:
cats_to_delete = [
    'Umstandsmode', 'Große Größen', 'Hundebekleidung und -Accessoires', 'Pflegeprodukte', 
    'Petite-Kleidung', 'Premium Selection', 'Alle anzeigen', 'Neuheiten'
]

In [46]:
idx_delete = cats[(cats['Category'].isin(cats_to_delete)) & (cats['Parent_Category'].isna())].index
idx_delete

Int64Index([21, 22, 24, 26, 27, 28, 236, 244, 245, 337, 338, 365, 366], dtype='int64')

In [47]:
# delete parent categories
cats.drop(labels=idx_delete, axis=0, inplace=True)

#delete the children
cats.drop(labels = cats[cats['Parent_Category'].isin(idx_delete)].index, axis=0, inplace=True)

In [48]:
cats.head()

,Category,URL,Parent_Category,Top_Category,Skip
0,Shirts & Tops,/de_de/damen/produkte/tops.html,NaN,Women,False
1,Basics,/de_de/damen/produkte/basics.html,NaN,Women,False
2,Hemden & Blusen,/de_de/damen/produkte/hemden-blusen.html,NaN,Women,False
3,Cardigans & Pullover,/de_de/damen/produkte/cardigans-pullover.html,NaN,Women,False
4,Strickwaren,/de_de/damen/produkte/strickwaren.html,NaN,Women,False

In [49]:
cats.shape

(348, 5)

In [50]:
# Check count of parent categories and child categories per top category\
cats.groupby('Top_Category').count()

              Category  URL  Parent_Category  Skip
Top_Category
Baby                26   26               21    26
Kids                40   40               34    40
Men                102  102               84   102
Women              180  180              157   180

In [53]:
cats[(cats['Top_Category'] == 'Kids') & (~cats['Parent_Category'].isna())].head()

,Category,URL,Parent_Category,Top_Category,Skip
373,Kleider,/de_de/kinder/produkte/kleidung/kleider.html,367.0,Kids,False
374,Oberteile & T-Shirts,/de_de/kinder/produkte/kleidung/oberteile-t-sh...,367.0,Kids,False
375,Pullover & Sweatshirts,/de_de/kinder/produkte/kleidung/pullover-sweat...,367.0,Kids,False
376,Hosen & Jeans,/de_de/kinder/produkte/kleidung/hosen-jeans.html,367.0,Kids,False
377,Röcke,/de_de/kinder/produkte/kleidung/roecke.html,367.0,Kids,False

In [54]:
# saving categories
cats.to_parquet(filename_format.format('Categories'))

Creating dataframe of fitler options per category

In [55]:
filters = pd.DataFrame({
    'Parent_Category': filter_parents,
    'Filter_Name': filter_names,
    'Filter_Option': filter_options,
})

In [56]:
filters.shape

(6733, 3)

In [57]:
filters_t = filters[filters['Parent_Category'].isin(cats[cats['Parent_Category'].isna()].index)]

In [58]:
filters_t.head(10)

,Parent_Category,Filter_Name,Filter_Option
0,0,Sortieren nach,"(Empfohlen, sort=stock)"
1,0,Sortieren nach,"(Neuheiten, sort=newProduct)"
2,0,Sortieren nach,"(Niedrigster Preis, sort=ascPrice)"
3,0,Sortieren nach,"(Höchster Preis, sort=descPrice)"
4,0,Conscious choice,"(Conscious choice, sustainabilities=Conscious+..."
5,0,Marke,"(Fila, brandNames=Fila)"
6,0,Marke,"(H&M, brandNames=H%26M)"
7,0,Marke,"(Minga London, brandNames=Minga+London)"
8,0,Marke,"(Superdry, brandNames=Superdry)"
9,0,Marke,"(aim'n, brandNames=aim%27n)"

In [59]:
filters_t.shape

(5029, 3)

In [60]:
filters_t['Filter_Name'].unique()

array(['Sortieren nach', 'Conscious choice', 'Marke', 'Größe', 'Farbe',
       'MUSTER', 'Produkttyp', 'Style', 'Funktion', 'Ausschnitt',
       'Ärmellänge', 'Länge', 'Ärmelstil', 'Kragen', 'Passform', 'Anlass',
       'Konzept', 'Qualität', 'Material', 'Bundhöhe', 'Schuhstil',
       'Absatzhöhe', 'Accessoirestil', 'Deckkraft', 'Finish', 'Hautton',
       'Hauttyp', 'Duftfamilie', 'Nutzen', 'Problemstelle', 'Form',
       'Hauptinhaltsstoff', 'LSF', 'Kundengruppe'], dtype=object)

In [61]:
filters_to_keep = [
    'Farbe', 'MUSTER', 'Produkttyp', 'Style', 'Funktion', 'Ausschnitt', 'Ärmellänge', 
    'Länge', 'Ärmelstil', 'Kragen', 'Passform', 'Anlass', 'Konzept', 'Bundhöhe', 'Schuhstil', 
    'Absatzhöhe', 'Accessoirestil', 'Deckkraft', 'Finish', 'Hautton'
]

In [62]:
filters_t = filters_t[filters_t['Filter_Name'].isin(filters_to_keep)]

In [63]:
filters_t.shape

(3261, 3)

In [64]:
filters_t.head()

    Parent_Category Filter_Name                         Filter_Option
31                0       Farbe  (Beige, colorWithNames=beige_f5f5dc)
32                0       Farbe    (Blau, colorWithNames=blau_0000ff)
33                0       Farbe  (Braun, colorWithNames=braun_a52a2a)
34                0       Farbe    (Gelb, colorWithNames=gelb_ffff00)
35                0       Farbe    (Grau, colorWithNames=grau_808080)

In [65]:
filters_t.groupby('Parent_Category').count()

                 Filter_Name  Filter_Option
Parent_Category
0                        103            103
1                        115            115
2                         91             91
3                         63             63
4                         62             62
5                         43             43
6                         71             71
7                         85             85
8                         51             51
9                         66             66
10                        61             61
11                       117            117
12                        59             59
13                        42             42
14                       106            106
15                        72             72
16                        52             52
17                        81             81
18                        58             58
19                        45             45
20                       106            106
23                       101            101
25                        50             50
225                       57             57
226                       38             38
227                       39             39
228                       38             38
229                       40             40
230                       59             59
231                       41             41
232                       16             16
233                       30             30
234                       22             22
235                       25             25
237                       43             43
238                       34             34
239                       86             86
240                       52             52
241                       80             80
242                       13             13
243                       36             36
339                      116            116
340                       50             50
341                       50             50
342                       32             32
343                       18             18
367                      205            205
368                       77             77
369                       84             84
370                       48             48
371                       58             58
372                       74             74

In [66]:
# saving filters
filters_t.to_parquet(filename_format.format('Filters'))

Iterate through all sub-categories - get all products (images & ids)

In [31]:
# lamda functions for getting various params
img_url = lambda x: x.find_all('img')[0].get('src') if x.find_all('img')[0].get('src') else x.find_all('img')[0].get('data-src')
img_ext = lambda x: re.search('set=source\[[a-z0-9/]*(\.[a-z]*)]', img_url(x))[1]
item_name = lambda x: x.find_all('a')[0].get('title')
item_url = lambda x: x.find_all('a')[0].get('href')
item_code = lambda x: x.get('data-articlecode')

def save_image(code, img, ext, verbose=False):
    target = img_filename.format(code, ext)
#     target = f"../images/{code}{ext}"
    if os.path.exists(target):
#         print("Already there")
        return 0
    if verbose:
        print(f"Img not found - {code}.", end=' ')
    img_data = requests.get(img if img[:6] == 'https:' else f"https:{img}")
    if img_data.status_code != 200:
        return 0
    with open(target, 'wb') as f:
        f.write(img_data.content)
        if verbose:
            print(f"Downloaded.")
        return 1

In [76]:
skip = [79, 279]
cats.loc[skip, 'Skip'] = True

In [77]:
size = 1000

if os.path.exists(filename_format.format('Items')):
    df_items = pd.read_parquet(filename_format.format('Items'))
else:
    df_items = pd.DataFrame(columns=['Code', 'Name', 'URL', 'Img_URL', 'Img_Ext', 'Category'])

i = 0
total = cats[~cats['Parent_Category'].isna()].shape[0]

print(f'Total Categories = {total}')
               
for idx, row in cats[(~cats['Parent_Category'].isna()) & (cats['Skip'] == False)].iterrows():
    if df_items[df_items['Category'] == idx].shape[0] > 0:
        # already completed,
        i += 1
        print(f"Skipping {idx} - {row['Top_Category']} - {row['Category']}")
        continue
    
    subcat = get_url(f"{row['URL']}?image=stillLife&offset=0&page-size={size}")
    all_items = subcat.find_all('article')
#     print(f"Found {len(all_items)} items.")
    
    codes = list(map(item_code, all_items))
    img_urls = list(map(img_url, all_items))
    img_exts = list(map(img_ext, all_items))
    
    img_saved = sum(list(map(save_image, codes, img_urls, img_exts)))
    
    df_items = pd.concat([df_items, pd.DataFrame({
        'Code': codes,
        'Name': list(map(item_name, all_items)),
        'URL': list(map(item_url, all_items)),
        'Img_URL': img_urls,
        'Img_Ext': img_exts,
        'Category': [idx]*len(all_items)
    })], ignore_index=True)
    
    i += 1
    print(f"Completed {idx} - {row['Category']} - Saved {len(all_items)} items. Images saved = {img_saved}.")
    if i%10 == 0:
        df_items.to_parquet(filename_format.format('Items'))
        time.sleep(1)

df_items.to_parquet(filename_format.format('Items'))
print("All Done!")

Total Categories = 296
Skipping 29 - Women - Cut-Out-Tops
Completed 30 - Bralette-Tops - Saved 0 items. Images saved = 0.
Skipping 31 - Women - Bandeau-Tops
Skipping 32 - Women - Oberteile mit Puffärmeln
Skipping 33 - Women - Trägertops & Tanktops
Skipping 34 - Women - Kurzarm-Shirts
Skipping 35 - Women - Langarm-Shirts
Skipping 36 - Women - Crop-Tops
Skipping 37 - Women - Bodys
Skipping 38 - Women - Off-Shoulder Tops
Skipping 39 - Women - T-Shirts
Skipping 40 - Women - T-Shirts bedruckt
Skipping 41 - Women - Oberteile
Skipping 42 - Women - Cardigans & Pullover
Skipping 43 - Women - Kleider & Röcke
Skipping 44 - Women - Hosen & Leggings
Skipping 45 - Women - Leinenshirts
Skipping 46 - Women - Hemden
Skipping 47 - Women - Blusen
Skipping 48 - Women - Tuniken
Skipping 49 - Women - Off-Shoulder-Shirts
Skipping 50 - Women - Jeanshemden
Skipping 51 - Women - Pullunder
Skipping 52 - Women - Cardigans
Skipping 53 - Women - Pullover
Completed 54 - Ponchos - Saved 0 items. Images saved = 0.
Skipping 55 - Women - Rollkragenpullover
Skipping 56 - Women - Westen & Daunenwesten
Skipping 57 - Women - Lederjacken
Skipping 58 - Women - Hemdjacken
Skipping 59 - Women - Trenchcoats
Skipping 60 - Women - Jacken
Skipping 61 - Women - Mäntel
Skipping 62 - Women - Bomberjacken
Skipping 63 - Women - Parkas
Skipping 64 - Women - Bikerjacken
Skipping 65 - Women - Jeansjacken
Skipping 66 - Women - Daunenjacken
Skipping 67 - Women - Leinenhosen
Skipping 68 - Women - Lederhosen
Skipping 69 - Women - Hosen mit weitem Bein
Skipping 70 - Women - Paperbag-Hosen
Skipping 71 - Women - High-Waist Hosen
Skipping 72 - Women - Cargohosen
Skipping 73 - Women - Leggings
Skipping 74 - Women - Jogginghosen
Skipping 75 - Women - Schlaghosen
Skipping 76 - Women - Chinos & Slacks
Skipping 77 - Women - Culottes
Skipping 78 - Women - Elegante Hosen
Skipping 80 - Women - Wide Leg
Skipping 81 - Women - Skinny
Skipping 82 - Women - Shaping-Jeans
Skipping 83 - Women - Straight Jeans
Skipping 84 - Women - Bootcut
Skipping 85 - Women - Flare
Skipping 86 - Women - Loose Jeans
Skipping 87 - Women - Mom-Jeans
Skipping 88 - Women - Fahrradhosen
Skipping 89 - Women - Bermudashorts
Skipping 90 - Women - Jeansshorts
Skipping 91 - Women - High Waist Shorts
Skipping 92 - Women - Slip Skirts
Skipping 93 - Women - Miniröcke
Completed 94 - Lederröcke - Saved 0 items. Images saved = 0.
Skipping 95 - Women - Faltenröcke
Skipping 96 - Women - Miniröcke
Skipping 97 - Women - Midiröcke
Skipping 98 - Women - Maxiröcke
Skipping 99 - Women - Bleistiftröcke
Skipping 100 - Women - Jeansröcke
Skipping 101 - Women - High Waist Röcke
Skipping 102 - Women - Skaterröcke
Skipping 103 - Women - Wickelröcke
Skipping 104 - Women - Cami-Kleider
Skipping 105 - Women - Strickkleider
Skipping 106 - Women - Langarmkleider
Skipping 107 - Women - Leinenkleider
Skipping 108 - Women - T-Shirt-Kleider
Skipping 109 - Women - Jeanskleider
Skipping 110 - Women - Minikleider
Skipping 111 - Women - Midikleider
Skipping 112 - Women - Maxikleider
Skipping 113 - Women - Bodycon-Kleider
Skipping 114 - Women - Spitzenkleider
Skipping 115 - Women - Blusenkleider
Skipping 116 - Women - Pailettenkleider
Skipping 117 - Women - Wickelkleider
Skipping 118 - Women - Skaterkleider
Skipping 119 - Women - Pulloverkleider
Skipping 120 - Women - Kaftankleider
Skipping 121 - Women - Latzhosen
Skipping 122 - Women - Jumpsuits lang
Skipping 123 - Women - Jumpsuits kurz
Skipping 124 - Women - Pantoletten
Skipping 125 - Women - Pumps & High Heels
Skipping 126 - Women - Ballerinas & Flats
Skipping 127 - Women - Sandalen & Espadrilles
Skipping 128 - Women - Sportschuhe
Skipping 129 - Women - Boots
Skipping 130 - Women - Loafer
Skipping 131 - Women - Slip-ons
Completed 132 - Flip Flops - Saved 0 items. Images saved = 0.
Skipping 133 - Women - Hausschuhe
Completed 134 - Alltagsmasken - Saved 0 items. Images saved = 0.
Skipping 135 - Women - Taschen
Skipping 136 - Women - Gürtel
Skipping 137 - Women - Schmuck
Skipping 138 - Women - Haarschmuck
Skipping 139 - Women - Sonnenbrillen
Skipping 140 - Women - Handyzubehör
Skipping 141 - Women - Handschuhe
Skipping 142 - Women - Halstücher & Schals
Skipping 143 - Women - Hüte & Mützen
Skipping 144 - Women - Geldbörsen & Portemonnaies
Skipping 145 - Women - Ponchos, Pareos & Sarongs
Skipping 146 - Women - Bikinis
Skipping 147 - Women - Badeanzüge
Skipping 148 - Women - Strandmode
Skipping 149 - Women - BHs
Skipping 150 - Women - Slips
Skipping 151 - Women - Bodys & Korsagen
Skipping 152 - Women - Shaping-Unterwäsche
Skipping 153 - Women - Accessoires
Skipping 154 - Women - Unterwäsche Multipacks
Skipping 155 - Women - Nachthemden
Skipping 156 - Women - Bademäntel
Skipping 157 - Women - Pyjamas
Skipping 158 - Women - Socken
Skipping 159 - Women - Strumpfhosen & Leggings
Skipping 160 - Women - Shaping-Strumpfhosen
Skipping 161 - Women - Tops
Skipping 162 - Women - Sport-BHs
Skipping 163 - Women - Jacken
Skipping 164 - Women - Hoodies & Sweatshirts
Skipping 165 - Women - Leggings & Tights
Skipping 166 - Women - Sporthosen & Jogginghosen
Skipping 167 - Women - Shorts
Skipping 168 - Women - Schwimmkleidung
Skipping 169 - Women - Accessoires
Skipping 170 - Women - Yoga
Skipping 203 - Women - Gesicht
Skipping 204 - Women - Augen
Skipping 205 - Women - Lippen
Skipping 206 - Women - Nägel
Skipping 207 - Women - Badezusätze & Körperpflege
Skipping 208 - Women - Düfte & Parfüm
Skipping 209 - Women - Haar
Skipping 210 - Women - Pinsel & Zubehör
Skipping 211 - Women - Make-up-Entferner & Cleanser
Skipping 212 - Women - Kosmetiktaschen & Reise-Accessoires
Skipping 213 - Women - Conscious
Completed 214 - Sonstiges - Saved 0 items. Images saved = 0.
Skipping 215 - Women - Limited Edition
Skipping 216 - Women - Hoodies
Skipping 217 - Women - Sweatshirts
Skipping 246 - Men - Westen & Daunenwesten
Skipping 247 - Men - Outdoorjacken
Skipping 248 - Men - Jacken
Skipping 249 - Men - Mäntel
Skipping 250 - Men - Pilotenjacken
Skipping 251 - Men - Jeansjacken
Skipping 252 - Men - Bikerjacken
Skipping 253 - Men - Windbreaker
Skipping 254 - Men - Daunenjacken
Skipping 255 - Men - Hemdjacken
Skipping 256 - Men - Trenchcoats
Skipping 257 - Men - Hoodies
Skipping 258 - Men - Sweatshirts
Skipping 259 - Men - Cardigans
Skipping 260 - Men - Pullover
Skipping 261 - Men - Rollkragen Pullover
Skipping 262 - Men - Langarmhemden
Skipping 263 - Men - Karohemden
Skipping 264 - Men - Elegant
Skipping 265 - Men - Casual
Skipping 266 - Men - Jeanshemden
Skipping 267 - Men - Kurzarm Hemden
Skipping 268 - Men - Tanktops
Skipping 269 - Men - Kurzarm
Completed 270 - Langarm - Saved 94 items. Images saved = 0.
Completed 271 - Poloshirts - Saved 56 items. Images saved = 0.
Completed 272 - Basics - Saved 78 items. Images saved = 0.
Completed 273 - T-Shirts mit Print - Saved 10 items. Images saved = 0.
Completed 274 - Chinos - Saved 41 items. Images saved = 0.
Completed 275 - Joggers - Saved 152 items. Images saved = 0.
Completed 276 - Cargo-Hosen - Saved 33 items. Images saved = 0.
Completed 277 - Elegante Hosen - Saved 44 items. Images saved = 0.
Completed 278 - Leinenhosen - Saved 8 items. Images saved = 0.
Completed 280 - Regular-Fit Jeans - Saved 40 items. Images saved = 0.
Completed 281 - Relaxed-Fit Jeans - Saved 24 items. Images saved = 0.
Completed 282 - Slim-Fit-Jeans - Saved 34 items. Images saved = 0.
Completed 283 - Skinny - Saved 10 items. Images saved = 0.
Completed 284 - Jeans-Joggers - Saved 12 items. Images saved = 0.
Completed 285 - Briefs - Saved 3 items. Images saved = 0.
Completed 286 - Boxershorts - Saved 27 items. Images saved = 0.
Completed 287 - Trunks - Saved 60 items. Images saved = 0.
Completed 288 - Pyjamas - Saved 20 items. Images saved = 0.
Completed 289 - Sportsocken - Saved 16 items. Images saved = 0.
Completed 297 - Westen - Saved 5 items. Images saved = 0.
Completed 298 - Blazer - Saved 39 items. Images saved = 0.
Completed 299 - Anzüge - Saved 63 items. Images saved = 0.
Completed 300 - Anzughosen - Saved 24 items. Images saved = 0.
Completed 301 - Premium-Qualität - Saved 6 items. Images saved = 0.
Completed 302 - Hausschuhe - Saved 1 items. Images saved = 0.
Completed 303 - Flip-Flops - Saved 2 items. Images saved = 0.
Completed 304 - Sneakers - Saved 68 items. Images saved = 0.

Completed 305 - Sandalen & Espadrilles - Saved 24 items. Images saved = 0.
Completed 306 - Boots - Saved 12 items. Images saved = 0.
Completed 307 - Elegante Schuhe - Saved 10 items. Images saved = 0.
Completed 308 - Loafer - Saved 14 items. Images saved = 0.
Completed 309 - Alltagsmasken - Saved 0 items. Images saved = 0.
Completed 310 - Schals - Saved 17 items. Images saved = 0.
Completed 311 - Krawatten, Fliegen & Einstecktücher - Saved 12 items. Images saved = 0.
Completed 312 - Gürtel & Hosenträger - Saved 16 items. Images saved = 0.
Completed 313 - Taschen - Saved 42 items. Images saved = 0.
Completed 314 - Sonnenbrillen - Saved 60 items. Images saved = 0.
Completed 315 - Schmuck - Saved 62 items. Images saved = 0.
Completed 316 - Sportzubehör - Saved 21 items. Images saved = 0.
Completed 317 - Sonstiges - Saved 2 items. Images saved = 0.
Completed 318 - Hüte & Caps - Saved 93 items. Images saved = 0.
Completed 319 - Handschuhe - Saved 12 items. Images saved = 0.
Completed 320 - T-Shirts - Saved 128 items. Images saved = 0.
Completed 321 - Tank Tops - Saved 5 items. Images saved = 0.
Completed 322 - Hoodies & Sweatshirts - Saved 58 items. Images saved = 0.
Completed 323 - Unterteile - Saved 36 items. Images saved = 0.
Completed 324 - Trainingshosen & Jogginghosen - Saved 35 items. Images saved = 0.
Completed 325 - Shorts - Saved 36 items. Images saved = 0.
Completed 326 - Laufhosen & Tights - Saved 4 items. Images saved = 0.
Completed 327 - Tops - Saved 89 items. Images saved = 0.
Completed 328 - Jacken - Saved 36 items. Images saved = 0.
Completed 329 - Hosen & Shorts - Saved 78 items. Images saved = 0.
Completed 330 - Accessoires - Saved 37 items. Images saved = 0.
Completed 331 - Leinen-Shorts - Saved 1 items. Images saved = 0.
Completed 332 - Kurze Jogginghosen - Saved 39 items. Images saved = 0.
Completed 333 - Jeansshorts - Saved 8 items. Images saved = 0.
Completed 334 - Chino-Shorts - Saved 15 items. Images saved = 0.
Completed 335 - Cargo-Shorts - Saved 5 items. Images saved = 0.
Completed 336 - Casual Shorts - Saved 30 items. Images saved = 0.
Completed 344 - Outfit-Sets - Saved 246 items. Images saved = 246.
Completed 345 - T-Shirts & Hemden - Saved 237 items. Images saved = 111.
Completed 346 - Pullover & Strickjacken - Saved 129 items. Images saved = 62.
Completed 347 - Hosen & Jeans - Saved 371 items. Images saved = 189.
Completed 348 - Bodys - Saved 188 items. Images saved = 131.
Completed 349 - Strampler - Saved 29 items. Images saved = 16.
Completed 350 - Shorts - Saved 105 items. Images saved = 57.
Completed 351 - Nachtwäsche - Saved 131 items. Images saved = 131.
Completed 352 - Socken - Saved 116 items. Images saved = 116.
Completed 353 - Bademode - Saved 16 items. Images saved = 16.
Completed 354 - Jacken & Mäntel - Saved 48 items. Images saved = 41.
Completed 355 - Schneeanzüge - Saved 12 items. Images saved = 12.
Completed 356 - Outdoor-Hosen - Saved 10 items. Images saved = 2.
Completed 357 - Regenbekleidung - Saved 1 items. Images saved = 1.
Completed 358 - Mützen - Saved 109 items. Images saved = 108.
Completed 359 - Schals & Handschuhe - Saved 13 items. Images saved = 4.
Completed 360 - Lätzchen - Saved 14 items. Images saved = 12.
Completed 361 - Sneakers - Saved 20 items. Images saved = 20.
Completed 362 - Stiefel - Saved 4 items. Images saved = 3.
Completed 363 - Sandalen & Flip-Flops - Saved 30 items. Images saved = 30.
Completed 364 - Hausschuhe - Saved 14 items. Images saved = 14.
Completed 373 - Kleider - Saved 408 items. Images saved = 408.
Completed 374 - Oberteile & T-Shirts - Saved 1000 items. Images saved = 986.
Completed 375 - Pullover & Sweatshirts - Saved 603 items. Images saved = 590.
Completed 376 - Hosen & Jeans - Saved 1000 items. Images saved = 820.
Completed 377 - Röcke - Saved 122 items. Images saved = 75.
Completed 378 - Shorts - Saved 424 items. Images saved = 341.
Completed 379 - Overalls & Strampler - Saved 37 items. Images saved = 37.
Completed 380 - Sets - Saved 485 items. Images saved = 72.
Completed 381 - Blazer & Anzüge - Saved 31 items. Images saved = 18.
Completed 382 - Nachtwäsche - Saved 276 items. Images saved = 262.
Completed 383 - Unterwäsche - Saved 280 items. Images saved = 278.
Completed 384 - Socken & Strumpfhosen - Saved 264 items. Images saved = 255.
Completed 385 - Bademode - Saved 101 items. Images saved = 98.
Completed 386 - Jacken - Saved 230 items. Images saved = 229.
Completed 387 - Mäntel - Saved 2 items. Images saved = 2.
Completed 388 - Westen - Saved 25 items. Images saved = 25.
Completed 389 - Schneeanzüge - Saved 2 items. Images saved = 2.
Completed 390 - Hosen - Saved 13 items. Images saved = 10.
Completed 391 - Regenbekleidung - Saved 40 items. Images saved = 17.
Completed 392 - Skibekleidung - Saved 11 items. Images saved = 8.
Completed 393 - Mützen, Hüte & Caps - Saved 151 items. Images saved = 149.
Completed 394 - Schals & Handschuhe - Saved 33 items. Images saved = 13.
Completed 395 - Taschen - Saved 48 items. Images saved = 48.
Completed 396 - Gürtel & Hosenträger - Saved 10 items. Images saved = 10.
Completed 397 - Haarschmuck - Saved 43 items. Images saved = 42.
Completed 398 - Schmuck - Saved 6 items. Images saved = 6.
Completed 399 - Krawatten & Fliegen - Saved 0 items. Images saved = 0.
Completed 400 - Sonnenbrillen - Saved 18 items. Images saved = 18.
Completed 401 - Sneakers - Saved 100 items. Images saved = 98.
Completed 402 - Ballerinas - Saved 25 items. Images saved = 25.
Completed 403 - Stiefel - Saved 20 items. Images saved = 14.
Completed 404 - Gummistiefel - Saved 9 items. Images saved = 0.
Completed 405 - Sandalen & Flip-Flops - Saved 48 items. Images saved = 48.
Completed 406 - Hausschuhe - Saved 13 items. Images saved = 13.
All Done!

In [78]:
df_items

,Code,Name,URL,Img_URL,Img_Ext,Category
0,1071498001,Cut-out-Shirt,/de_de/productpage.1071498001.html,//lp2.hm.com/hmgoepprod?set=source[/a2/90/a290...,.jpg,29.0
1,1069183001,Kurzes Shirt mit Cut-out,/de_de/productpage.1069183001.html,//lp2.hm.com/hmgoepprod?set=source[/12/09/1209...,.jpg,29.0
2,0985757001,Kurzshirt mit Cut-out,/de_de/productpage.0985757001.html,//lp2.hm.com/hmgoepprod?set=source[/68/a3/68a3...,.jpg,29.0
3,0985757002,Kurzshirt mit Cut-out,/de_de/productpage.0985757002.html,//lp2.hm.com/hmgoepprod?set=source[/10/22/1022...,.jpg,29.0
4,1069183002,Kurzes Shirt mit Cut-out,/de_de/productpage.1069183002.html,//lp2.hm.com/hmgoepprod?set=source[/d1/3a/d13a...,.jpg,29.0
...,...,...,...,...,...,...
22758,0897909012,Weiche Hausschuhe,/de_de/productpage.0897909012.html,//lp2.hm.com/hmgoepprod?set=source[/3d/04/3d04...,.jpg,406.0
22759,1033466002,Weiche Hausschuhe mit Applikationen,/de_de/productpage.1033466002.html,//lp2.hm.com/hmgoepprod?set=source[/23/2e/232e...,.jpg,406.0
22760,0897909013,Weiche Hausschuhe,/de_de/productpage.0897909013.html,//lp2.hm.com/hmgoepprod?set=source[/cd/b5/cdb5...,.jpg,406.0
22761,0897909011,Weiche Hausschuhe,/de_de/productpage.0897909011.html,//lp2.hm.com/hmgoepprod?set=source[/bc/b0/bcb0...,.jpg,406.0
22762,0824763001,Weiche Hausschuhe,/de_de/productpage.0824763001.html,//lp2.hm.com/hmgoepprod?set=source[/f8/dd/f8dd...,.jpg,406.0

In [79]:
pd.merge(
    df_items, 
    cats[['Category', 'Parent_Category']], 
    left_on='Category', 
    right_index=True, 
    how='left').groupby('Parent_Category').agg({
        'Code':['count', 'nunique']
    })

                 Code
                count nunique
Parent_Category
0.0              1414     867
1.0               671     671
2.0               418     379
3.0               351     304
6.0               427     305
7.0               914     668
8.0               681     467
9.0               318     240
10.0              330     155
11.0             1442     740
12.0               44      44
13.0              351     267
14.0              753     735
15.0              235     235
16.0             1432     906
18.0              260     260
19.0              173     160
20.0              591     425
23.0              725     669
25.0              340     340
225.0             245     137
226.0             220     220
227.0             146     130
229.0             199     160
230.0             593     449
231.0             278     262
232.0             120     108
233.0              90      90
234.0              20      20
235.0              16      16
237.0             137      63
238.0             131     125
239.0             337     320
240.0             227     227
241.0             315     240
243.0              98      76
339.0            1568    1075
340.0              71      63
341.0             136     125
342.0              68      68
367.0            5031    4249
368.0             323     295
369.0             309     296
370.0             215     215

In [80]:
df_items.to_parquet(filename_format.format('Items'))

In [82]:
# Get any failed images
i = 0
for idx, row in df_items.iterrows():
    res = save_image(row['Code'], row['Img_URL'], row['Img_Ext'], verbose=True)
    if res > 0:
        i += 1
        if i%10 == 0:
            time.sleep(1)

In [83]:
# Unique item count
df_items['Code'].nunique()

16473

In [84]:
df_items['Category'].unique()

array([ 29.,  31.,  32.,  33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,
        41.,  42.,  43.,  44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,
        52.,  53.,  55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,
        64.,  65.,  66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,
        75.,  76.,  77.,  78.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,
        87.,  88.,  89.,  90.,  91.,  92.,  93.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112., 113., 114., 115., 116., 117., 118., 119., 120.,
       121., 122., 123., 124., 125., 126., 127., 128., 129., 130., 131.,
       133., 135., 136., 137., 138., 139., 140., 141., 142., 143., 144.,
       145., 146., 147., 148., 149., 150., 151., 152., 153., 154., 155.,
       156., 157., 158., 159., 160., 161., 162., 163., 164., 165., 166.,
       167., 168., 169., 170., 203., 204., 205., 206., 207., 208., 209.,
       210., 211., 212., 213., 215., 216., 217., 246., 247., 248., 249.,
       250., 251., 252., 253., 254., 255., 256., 257., 258., 259., 260.,
       261., 262., 263., 264., 265., 266., 267., 268., 269., 270., 271.,
       272., 273., 274., 275., 276., 277., 278., 280., 281., 282., 283.,
       284., 285., 286., 287., 288., 289., 297., 298., 299., 300., 301.,
       302., 303., 304., 305., 306., 307., 308., 310., 311., 312., 313.,
       314., 315., 316., 317., 318., 319., 320., 321., 322., 323., 324.,
       325., 326., 327., 328., 329., 330., 331., 332., 333., 334., 335.,
       336., 344., 345., 346., 347., 348., 349., 350., 351., 352., 353.,
       354., 355., 356., 357., 358., 359., 360., 361., 362., 363., 364.,
       373., 374., 375., 376., 377., 378., 379., 380., 381., 382., 383.,
       384., 385., 386., 387., 388., 389., 390., 391., 392., 393., 394.,
       395., 396., 397., 398., 400., 401., 402., 403., 404., 405., 406.])

Iterate through each filter for each sub-category - get all product ids and tag them

In [89]:
size = 10000

if os.path.exists(filename_format.format('FilterAttributes')):
    df_attributes = pd.read_parquet(filename_format.format('FilterAttributes'))
else:
    df_attributes = pd.DataFrame(columns=['Code', 'Filter_ID'])

i = 0
total = filters_t.shape[0]

print(f'Total Filters = {total}')

for idx, row in filters_t.iterrows():
    if df_attributes[df_attributes['Filter_ID'] == idx].shape[0] > 0:
        # already completed,
        i += 1
        if i%10 == 0:        
            print(f"Skipped {i}")
        continue
    
    cat_filter = get_url(f"{cats.loc[int(row['Parent_Category'])]['URL']}?image=stillLife&offset=0&page-size={size}&{row['Filter_Option'][1]}")
    codes = list(map(item_code, cat_filter.find_all('article')))
    df_attributes = pd.concat([
        df_attributes,
        pd.DataFrame({
            'Code': codes,
            'Filter_ID': [idx]*len(codes)
        })
    ])
    
    i += 1
    if i%10 == 0:
        df_attributes.to_parquet(filename_format.format('FilterAttributes'))
        print(f"Completed {i}")
        time.sleep(1)

df_attributes.to_parquet(filename_format.format('FilterAttributes'))
print("All Done!")

Total Filters = 3261
Skipped 10
Skipped 20
Skipped 30
Skipped 40
Skipped 50
Skipped 60
Skipped 70
Skipped 80
Skipped 90
Skipped 100
Skipped 110
Skipped 120
Skipped 130
Skipped 140
Skipped 150
Skipped 160
Skipped 170
Skipped 180
Skipped 190
Skipped 200
Skipped 210
Skipped 220
Skipped 230
Skipped 240
Skipped 250
Skipped 260
Skipped 270
Skipped 280
Skipped 290
Skipped 300
Skipped 310
Skipped 320
Skipped 330
Skipped 340
Skipped 350
Skipped 360
Skipped 370
Skipped 380
Skipped 390
Skipped 400
Skipped 410
Skipped 420
Skipped 430
Skipped 440
Skipped 450
Skipped 460
Skipped 470
Skipped 480
Skipped 490
Skipped 500
Skipped 510
Skipped 520
Skipped 530
Skipped 540
Skipped 550
Skipped 560
Skipped 570
Skipped 580
Skipped 590
Skipped 600
Skipped 610
Skipped 620
Skipped 630
Skipped 640
Skipped 650
Skipped 660
Skipped 670
Skipped 680
Skipped 690
Skipped 700
Skipped 710
Skipped 720
Skipped 730
Skipped 740
Skipped 750
Skipped 760
Skipped 770
Skipped 780
Skipped 790
Skipped 800
Skipped 810
Skipped 820
Skipped 830
Skipped 840
Skipped 850
Skipped 860
Skipped 870
Skipped 880
Skipped 890
Skipped 900
Skipped 910
Skipped 920
Skipped 930
Skipped 940
Skipped 950
Skipped 960
Skipped 970
Skipped 980
Skipped 990
Skipped 1000
Skipped 1010
Skipped 1020
Skipped 1030
Skipped 1040
Skipped 1050
Skipped 1060
Skipped 1070
Skipped 1080
Skipped 1090
Skipped 1100
Skipped 1110
Skipped 1120
Skipped 1130
Skipped 1140
Skipped 1150
Skipped 1160
Skipped 1170
Skipped 1180
Skipped 1190
Skipped 1200
Skipped 1210
Skipped 1220
Skipped 1230
Skipped 1240
Skipped 1250
Skipped 1260
Skipped 1270
Skipped 1280
Skipped 1290
Skipped 1300
Skipped 1310
Skipped 1320
Skipped 1330
Skipped 1340
Skipped 1350
Skipped 1360
Skipped 1370
Skipped 1380
Skipped 1390
Skipped 1400
Skipped 1410
Skipped 1420
Skipped 1430
Skipped 1440
Skipped 1450
Skipped 1460
Skipped 1470
Skipped 1480
Skipped 1490
Skipped 1500
Skipped 1510
Skipped 1520
Skipped 1530
Skipped 1540
Skipped 1550
Skipped 1560
Skipped 1570
Skipped 1580
Skipped 1590
Skipped 1600
Skipped 1610
Skipped 1620
Skipped 1630
Skipped 1640
Skipped 1650
Skipped 1660
Skipped 1670
Skipped 1680
Skipped 1690
Skipped 1700
Skipped 1710
Skipped 1720
Skipped 1730
Skipped 1740
Skipped 1750
Skipped 1760
Skipped 1770
Skipped 1780
Skipped 1790
Skipped 1800
Skipped 1810
Skipped 1820
Skipped 1830
Skipped 1840
Skipped 1850
Skipped 1860
Skipped 1870
Skipped 1880
Skipped 1890
Skipped 1900
Skipped 1910
Skipped 1920
Skipped 1930
Skipped 1940
Skipped 1950
Skipped 1960
Skipped 1970
Skipped 1980
Skipped 1990
Skipped 2000
Skipped 2010
Skipped 2020
Skipped 2030
Skipped 2040
Skipped 2050
Skipped 2060
Skipped 2070
Skipped 2080
Skipped 2090
Skipped 2100
Skipped 2110
Skipped 2120
Skipped 2130
Skipped 2140
Skipped 2150
Skipped 2160
Skipped 2170
Skipped 2180
Skipped 2190
Skipped 2200
Skipped 2210
Skipped 2220
Skipped 2230
Skipped 2240
Skipped 2250
Skipped 2260
Skipped 2270
Skipped 2280
Skipped 2290
Skipped 2300
Skipped 2310
Skipped 2320
Skipped 2330
Skipped 2340
Skipped 2350
Skipped 2360
Skipped 2370
Skipped 2380
Skipped 2390
Skipped 2400
Skipped 2410
Skipped 2420
Skipped 2430
Skipped 2440
Skipped 2450
Skipped 2460
Skipped 2470
Skipped 2480
Skipped 2490
Skipped 2500
Skipped 2510
Skipped 2520
Skipped 2530
Skipped 2540
Skipped 2550
Skipped 2560
Skipped 2570
Skipped 2580
Skipped 2590
Skipped 2600
Skipped 2610
Skipped 2620
Skipped 2630
Skipped 2640
Skipped 2650
Skipped 2660
Skipped 2670
Skipped 2680
Skipped 2690
Skipped 2700
Skipped 2710
Skipped 2720
Skipped 2730
Completed 2740
Completed 2750
Completed 2760
Completed 2770
Completed 2780
Completed 2790
Completed 2800
Completed 2810
Completed 2820
Completed 2830
Completed 2840
Completed 2850
Completed 2860
Completed 2870
Completed 2880
Completed 2890
Completed 2900
Completed 2910
Completed 2920
Completed 2930
Completed 2940
Completed 2950
Completed 2960
Completed 2970
Completed 2980
Completed 2990
Completed 3000
Completed 3010
Completed 3020
Completed 3030
Completed 3040
Completed 3050
Completed 3060
Completed 3070
Completed 3080
Completed 3090
Completed 3100
Completed 3110
Completed 3120
Completed 3130
Completed 3140
Completed 3150
Completed 3160
Completed 3170
Completed 3180
Completed 3190
Completed 3200
Completed 3210
Completed 3220
Completed 3230
Completed 3240
Completed 3250
Completed 3260
All Done!

In [90]:
df_attributes

           Code  Filter_ID
0    0979236026       31.0
1    1080623001       31.0
2    1000128007       31.0
3    1000128008       31.0
4    0903309006       31.0
..          ...        ...
166  0867741006     6732.0
167  0706020018     6732.0
168  1021159001     6732.0
169  0929864004     6732.0
170  0979940001     6732.0

[141147 rows x 2 columns]

In [91]:
df_attributes['Code'].nunique()

17394

Removing some images which would probably not be good for training

In [ ]:
# bad_images = [
#     '0111565001', '0111593001', '0156227001', '0156231001', '0158340001', '0228257001', '0228257002',
#     '0228257003', '0228257004', '0228257017', '0228257018', '0542413008', '0542413012', '0561274001',
#     '0987624001', '0987624004', '0987624005', '0987628001', '0987628002', '0987628003', '0987628004', 
#     '0987628006'
# ]